body{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(144, 17, 230);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.box ul li{
  position: absolute;
  width: 35px;
  height: 35px;
  list-style: none;
  opacity: 0;
  background: radial-gradient(gold, transparent, transparent);
  bottom: 0;
  left: 10vw;
  animation: animate 15s linear infinite;
}

.box ul li:nth-child(2){
  left: 37vw;
  animation-delay: 2s;
}

.box ul li:nth-child(3){
  left: 25vw;
  animation-delay: 4s;
}

.box ul li:nth-child(4){
  left: 60vw;
  animation-delay: 1s;
}

.box ul li:nth-child(5){
  left: 75vw;
  animation-delay: 6s;
}

.box ul li:nth-child(6){
  left: 90vw;
  animation-delay: 2s;
}

.box ul li:nth-child(7){
  left: 55vw;
  animation-delay: 5s;
}

.box ul li:nth-child(8){
  left: 83vw;
  animation-delay: 3s;
}

.box ul li:nth-child(9){
  left: 15vw;
  animation-delay: 8s;
}

.box ul li:nth-child(10){
  left: 43vw;
  animation-delay: 3s;
}

@keyframes animate {
  0%{
    transform: scale(0);
    opacity: 1;
    bottom: 0;
  }
  100%{
    transform: scale(10);
    opacity: 0;
    bottom: 100vh;
  }
}

.submit {
  background-color: #333;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.ans {
  height: 20px;
  width: 20px;
  background-color: #eee;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.uns{
  width: 25%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/*---Navbar---*/

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(144, 17, 230);
    color: white;
  }

  p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}